body {
    padding-top: 5rem;
    background-image: url(/static/images/43.jpg);
    
    
}

footer  {
    padding-top: 20px;
}

h2{
    font-weight: 700;
}

.bg-nav{
    background: linear-gradient(to right, #e242ff , #af00ad);
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

.btn-color{
    background: linear-gradient(to right, #e242ff , #af00ad);
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    color: white;
}

.fcont {
    margin:auto;
    margin-top: 30px;
    border: solid 0px #af00ad;
    border-radius: 5px;
    width: 380px;
    height: auto;
    background: linear-gradient(to right, #e242ff , #af00ad);
    font-family: 'Fjalla One', sans-serif;
}

.scont {
    margin:auto;
    margin-top: 30px;
    border: solid 0px #af00ad;
    border-radius: 5px;
    width: 400px;
    height: auto;
    background: linear-gradient(to right, #e242ff , #af00ad);
    font-family: 'Fjalla One', sans-serif;
    color: black;
}


.form-group{
    
    margin-left: 5px;
    margin-right: 5px;
}

.head{
    padding-top: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.containment-box{
    border: solid 10px linear-gradient(to right, #e242ff , #af00ad);
    border-radius: 5px;
    width: 600px;
    height: 340px;
    margin:auto;
    margin-top: 60px;
    background: linear-gradient(to right, #e242ff , #af00ad);
    text-align: center;
}

.logo{
    margin:auto;
}

.phrase{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.upcont {
    margin:auto;
    margin-top: 30px;
    border: solid 0px #af00ad;
    border-radius: 5px;
    width: 380px;
    height: auto;
    background: linear-gradient(to right, #ff4264 , #af00ad);
    font-family: 'Fjalla One', sans-serif;
}

.outside {
    margin:auto;
    margin-top: 5px;
    border: solid 10px #ededed;
    border-radius: 5px;
    height: auto;
    background: #ededed;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
}

.top{
    border: solid 0px #af00ad;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: white;
    position: relative;
}

.top-left{
    display: grid;
    grid-template-columns: 2fr;
    position: relative;
    text-align: center;
    margin-top: 60px;
    
}

.count{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.top-right{
    display: grid;
    grid-template-columns: repeat(2,.4fr);
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(4,.4fr);
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    background: white;
    
}
.outerborder {
    border: solid 4px #af00ad;
    border-radius: 5px;
    background: white;
    position: relative;
}

.imgupld{
    margin-top: 20px;
    margin-bottom: 20px;
}

.platter {
    margin:auto;
    border: solid 8px #ededed;
    border-radius: 5px;
    height: auto;
    width: 70%;
    background: #ededed;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
}

.outerborder{
    margin:auto;
    margin-top: 20px;
    width: 83.5%;
    border: solid 8px white;
}

.content{
    margin:auto;
    width: 70%;
}

.imgpst{
    text-align: center;
}

.btns{
    display: grid;
    grid-template-columns: repeat(2,.1fr);
    position: relative;
    
}

.pbtn{
    text-decoration: none;
}

.capt{
    font-family: 'Fjalla One', sans-serif;
}

.uname {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

.errrr {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

.likebtn {
    display: grid;
    grid-template-columns: repeat(4,.5fr);
}

.dtnL {
    
    margin:auto;
    display: grid;
    grid-template-columns: 2fr .5fr;
    
}

.picNname{
    display: grid;
    grid-template-columns: repeat(2,.08fr);
}

.errrr{
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 90%;
    height: auto;
}