{% extends "base.html" %}

{% block main %}
<div class="containment-box">
    <div class="logo">
        <div>
            <!--App LOGO-->
            <img class="img-responsive" src=" {{url_for('static', filename='resources/log.png')}}" height="30" width="30" alt = "logo" >
        </div>
        <div>
            <!--App Name-->
            <h2>PhotoGram</h2>
        </div>
    </div>
    <div>
        <!--App Tagline/Catch Phrase-->
        <p>Seize the moment and Share it.</p>
    </div>
</div>
{% endblock %}